<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style>
            body{background-color:powderblue;}
        </style>
    </head>
    <body >
        <form method="post">
            <label style="font-size:80px; font-family: epilogue; color:black;">Vchat</label>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="http://127.0.0.1:5000/login/chatbot" class="Button" style="font-size:40px; color:black">Chatbot</a>
            <br>
            <a href="http://127.0.0.1:5000/login/Flappybird" class="Button" style="font-size:40px; color:black">Flappybird</a>
            <br><br><br><br>
            <a href="http://127.0.0.1:5000/login/fitness" class="Button" style="font-size:40px; color:black">Healthbot</a>
        </form>

    </body>
</html>