<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vchat-Chatbot</title>
        <style> body{background-color:#eea29a;}</style>
    </head>
    <body>
    <form method="post">
        <label style="font-size:80px; font-family: epilogue; color:black;">Vchat</label>
        <label style="font-size:50px; font-family:epilogue; color:black">Chatbot</label>
        <br><br>
        <label style="font-size:40px; font-family:epilogue;   color:black">Enter text here:</label> 
        <input type="text" name="Text" style="font-size:25px; font-family:epilogue;   color:black">
        <br><br><br>
        <input type="submit" value="Send" style="font-size:30px; font-family:epilogue;   color:black">
        <br><br><br>
        <div class="flashes" style="font-size:30px;">
            {% for c in get_flashed_messages()%}
                {{c}}
            {% endfor %}
        </div>
        <br><br><br>
        <a href="http://127.0.0.1:5000/login/chatbot/convo" class="Button" style="font-size:30px;">Start-Convo</a>
    </form>

    </body>
</html>