<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vchat-Chatbot</title>
        <style>body{background-color:#d6d4e0;}</style>
    </head>
    <body >

        <label style="font-size:80px; font-family: epilogue; color:black;">Vchat</label>
        <div class="flashes" style="font-size:30px; ">
            {% for c in get_flashed_messages(category_filter=["questions"])%}
                {{c}}
            {% endfor %}
        </div>
        <br>
        <br>
        <form method="post">
            <br><br>
            <label style="font-size:30px; " >Enter text here:</label> 
            <input type="text" name="Text" style="font-size:20px; ">
            <br><br><br><br>
            <input type="submit" value="Send" style="font-size:20px; ">
            <br><br><br><br><br><br><br>
            <div class="flashes" style="font-size:30px; ">
                {% for c in get_flashed_messages(category_filter=["userresponse"])%}
                    {{c}}
                {% endfor %}
            </div>

        </form>

    </body>
</html>