<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>VChat</title>
        <style>
            body{background-color:#f7cac9;}
        </style>
    </head>

    <body>
        <form method="post" >
            <label style="font-size:80px; font-family: epilogue; color:black;">Vchat</label>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a href="http://127.0.0.1:5000/register" style="font-size:60px; font-family:epilogue;   color:black" class="button">Register</a>
            <a href="http://127.0.0.1:5000/login"  style="font-size:60px;  font-family:epilogue;  color:black" class="button">Login</a>
        </form>
    </body>
</html>