<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>VChat-Login</title>
        <style>body{background-color:#cab577;}</style>
    </head>
    <body >
    <form  method="post">
        <label style="font-size:80px;">VChat</label>
        <br><br><br><br>
        <label style="font-size:40px;">Username: </label> 
        <input type="text" name="Username" style="font-size:30px;" >
        <br><br>
        <label style="font-size:40px;">Password: </label>
        <input type="password" name="Password" style="font-size:30px;">
        <br><br><br>
        <input type="submit" style="background-color:red; border-color:blue; color:white; font-size:30px;" value="Login">
    </form>
    </body>
</html>