<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vchat-Register</title>
        <style>body{background-color:#d5f4e6;}</style>
    </head>
    <body >
        <form  method="post">

            <label style="font-size:80px;">VChat</label>
            <br><br><br>
            <label style="font-size:40px;">Username:</label> 
            <input type="text" name="Username" style="font-size:30px;" >
            <br><br>
            <label style="font-size:20px;">Username must not contain any special characters</label>
            <br><br>
            <label style="font-size:40px;">Password:</label>
            <input type="password" name="Password" style="font-size:30px;">
            <br><br>
            <label style="font-size:20px;">Password must contain atleast one special character and password size should be more than 7</label>
            <br><br>
            <label style="font-size:40px;">Confirm Password:</label>
            <input type="password" name="Password2" style="font-size:30px;">
            <br><br><br><br>
            <input type="submit" value="Register" style="font-size:30px;">
        </form>

    </body>
</html>